In [1]:
import pandas as pd
import numpy as np

In [2]:
grade = pd.read_csv('Gradebook.txt', sep ='\t')
grade.head()

,Student ID,Last Name,First Name,Major,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam
0,995702,Abdibekov,Azamat,BDA,49,77,79,43,18,0,83,67,41,38
1,995705,Abdulatipova,Havaskhon,MG,83,93,98,0,64,78,0,92,50,54
2,995706,Abdulayeva,Amina,OM,55,55,70,0,31,0,83,92,37,36
3,995707,Abdullina,Elnura,FN,78,92,61,86,62,78,82,83,68,72
4,995710,Abdyldayeva,Aigerim,AC,79,63,82,58,59,88,95,72,61,65

In [3]:
# Q2 
(grade.loc[:,['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam']].mean().idxmin())

'Midterm'

In [72]:
# Q3 

grade.set_index('Major').groupby(level=0)['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam'].agg(np.min)

grade.set_index('Major').groupby(level=0)['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam'].agg({'min':np.min,'max':np.max})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\groupby.py:3961: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

         min                                                               \
      Quiz 1 Quiz 2 Quiz 3 Quiz 4 Quiz 5 Project 1 Project 2 Team Project
Major
AC         0      0      0      0      0         0         0            0
BA         0     77     60      0     36        61         0            0
BDA        0      0      0      0      0         0         0            0
BS        52     33     36      0      0         0         0            0
FN         0     33      0      0      8         0        60            0
IS        39     62     45      0     33        44         0            0
MG         0      0     62      0      0         0         0            0
MK         0      0      0      0     26        38         0            0
OM        50     42      0      0      0         0         0            0

                            max                                        \
      Midterm Final Exam Quiz 1 Quiz 2 Quiz 3 Quiz 4 Quiz 5 Project 1
Major
AC         16         52     99    100    100    100    100       100
BA         45         46     89    100    100     94     95       100
BDA        39         36    100    100    100    100    100       100
BS         26         21     96    100    100    100    100       100
FN         37         40     96    100    100    100    100       100
IS         38         38     91     95    100     94     86        94
MG          0          2     98    100    100    100     95       100
MK         33         34     95    100    100    100    100       100
OM         21         16     95    100    100    100     95       100


      Project 2 Team Project Midterm Final Exam
Major
AC          100          100      82         90
BA          100           95      82         90
BDA         100          100      82         90
BS          100          100      84         92
FN          100          100      83         91
IS          100          100      76         83
MG          100          100      83         91
MK          100          100      82         91
OM          100          100      83         91

In [39]:
grade.sort_values(by=['Quiz 1']).iloc[132]['Quiz 1']

80

In [42]:
grade['Quiz 1'].sort_values().iloc[132]

80

In [12]:
#Q4
onlygrade = grade.loc[:,['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam']]
onlygrade.apply(lambda column: column.sort_values().iloc[132])

Quiz 1          80
Quiz 2          85
Quiz 3          83
Quiz 4          82
Quiz 5          78
Project 1       87
Project 2       95
Team Project    92
Midterm         71
Final Exam      76
dtype: int64

In [71]:
# Q6 
grade.set_index('Major').groupby(level=0)['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam'].agg(np.max)

,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam
Major,,,,,,,,,,
AC,99,100,100,100,100,100,100,100,82,90
BA,89,100,100,94,95,100,100,95,82,90
BDA,100,100,100,100,100,100,100,100,82,90
BS,96,100,100,100,100,100,100,100,84,92
FN,96,100,100,100,100,100,100,100,83,91
IS,91,95,100,94,86,94,100,100,76,83
MG,98,100,100,100,95,100,100,100,83,91
MK,95,100,100,100,100,100,100,100,82,91
OM,95,100,100,100,95,100,100,100,83,91

In [119]:
#Q 7 & 8
    
onlygrade.apply(lambda column: (column ==0).sum(), axis=0)

Quiz 1           7
Quiz 2           4
Quiz 3           7
Quiz 4          20
Quiz 5           9
Project 1       16
Project 2       12
Team Project    11
Midterm          1
Final Exam       0
dtype: int64

In [14]:
#Q9
rows = ['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5']
grade['quizaverage']= grade.apply(lambda x:np.mean(x[rows]), axis=1)
grade.head()
len(grade[(grade['quizaverage'] >= 80) & (grade['quizaverage'] < 90)])

90

In [10]:
#10
round(grade.set_index('Major').groupby(level=0)['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam'].agg(np.average),2)

,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam
Major,,,,,,,,,,
AC,72.89,79.89,79.95,73.91,71.70,78.02,91.50,88.61,67.00,73.00
BA,68.10,86.90,80.90,68.50,71.20,88.50,85.80,79.50,66.30,71.00
BDA,73.90,80.00,77.97,78.33,73.43,80.00,87.10,86.87,67.70,72.87
BS,80.54,86.59,81.19,78.35,76.84,83.14,91.46,87.41,70.57,76.65
FN,73.71,83.09,79.24,69.65,73.24,73.85,93.44,88.38,67.09,72.32
IS,71.62,79.75,81.88,59.88,63.88,76.50,83.50,79.62,62.12,66.00
MG,78.29,83.62,83.90,73.57,73.71,81.24,84.24,82.86,67.76,73.24
MK,75.54,80.71,75.02,75.96,73.10,82.54,84.08,86.75,67.83,72.88
OM,79.88,82.74,80.62,69.94,70.82,73.09,90.35,85.68,66.85,71.94

In [23]:
# Q11
grade['droplowestquiz']=grade.apply(lambda x: (np.sum(x[rows])-np.min(x[rows]))/4,axis=1)
grade['finalgrade']=( grade.apply(lambda x: x['droplowestquiz']
                                  *0.12+(x['Project 1']+x['Project 2'])*0.1+
                                  x['Team Project']*0.15+x['Midterm']*0.2
                                 +x['Final Exam']*0.33,axis=1))
np.average(grade['finalgrade'])

77.201353383458653

In [24]:
grade.head()

,Student ID,Last Name,First Name,Major,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam,quizaverage,droplowestquiz,finalgrade
0,995702,Abdibekov,Azamat,BDA,49,77,79,43,18,0,83,67,41,38,53.2,62.00,46.53
1,995705,Abdulatipova,Havaskhon,MG,83,93,98,0,64,78,0,92,50,54,67.6,84.50,59.56
2,995706,Abdulayeva,Amina,OM,55,55,70,0,31,0,83,92,37,36,42.2,52.75,47.71
3,995707,Abdullina,Elnura,FN,78,92,61,86,62,78,82,83,68,72,75.8,79.50,75.35
4,995710,Abdyldayeva,Aigerim,AC,79,63,82,58,59,88,95,72,61,65,68.2,70.75,71.24

In [63]:
#Q12 

def checkifexcellent(x):
    if x['finalgrade']>= 92:
        return 1
    else:
        return 0
grade['excellent?']=grade.apply(checkifexcellent,axis=1)
grade.groupby('Major').agg({'excellent?':np.count_nonzero})

       excellent?
Major
AC              0
BA              0
BDA             0
BS              1
FN              0
IS              0
MG              1
MK              1
OM              2

In [34]:
grade.head()

,Student ID,Last Name,First Name,Major,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam,quizaverage,droplowestquiz,finalgrade,excellent?
0,995702,Abdibekov,Azamat,BDA,49,77,79,43,18,0,83,67,41,38,53.2,62.00,46.53,0
1,995705,Abdulatipova,Havaskhon,MG,83,93,98,0,64,78,0,92,50,54,67.6,84.50,59.56,0
2,995706,Abdulayeva,Amina,OM,55,55,70,0,31,0,83,92,37,36,42.2,52.75,47.71,0
3,995707,Abdullina,Elnura,FN,78,92,61,86,62,78,82,83,68,72,75.8,79.50,75.35,0
4,995710,Abdyldayeva,Aigerim,AC,79,63,82,58,59,88,95,72,61,65,68.2,70.75,71.24,0

In [98]:
# Q16
def droptwo(row):
    a= [row['Quiz 1'],row['Quiz 2'],row['Quiz 3'], row['Quiz 4'],row['Quiz 5']]
    a.sort(reverse=True)
    return round((np.sum(a[:3]))/3,2)

grade['drop2quizavg']=grade.apply(droptwo, axis=1)
grade.head()

,Student ID,Last Name,First Name,Major,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam,quizaverage,droplowestquiz,finalgrade,excellent?,drop2quizavg
0,995702,Abdibekov,Azamat,BDA,49,77,79,43,18,0,83,67,41,38,53.2,62.00,46.53,0,68.33
1,995705,Abdulatipova,Havaskhon,MG,83,93,98,0,64,78,0,92,50,54,67.6,84.50,59.56,0,91.33
2,995706,Abdulayeva,Amina,OM,55,55,70,0,31,0,83,92,37,36,42.2,52.75,47.71,0,60.00
3,995707,Abdullina,Elnura,FN,78,92,61,86,62,78,82,83,68,72,75.8,79.50,75.35,0,85.33
4,995710,Abdyldayeva,Aigerim,AC,79,63,82,58,59,88,95,72,61,65,68.2,70.75,71.24,0,74.67

In [17]:
grade.groupby('Major').agg({'Team Project':np.average,'Final Exam':np.min}).round(2)

       Team Project  Final Exam
Major
AC            88.61          52
BA            79.50          46
BDA           86.87          36
BS            87.41          21
FN            88.38          40
IS            79.62          38
MG            82.86           2
MK            86.75          34
OM            85.68          16

93.415525114155244

In [47]:
# Create a double index, major sorted then Full Name. 
newgrade = grade.sort_values(['Major']).set_index(['Major','Full Name'])
newgrade.head()

                          Student ID    Last Name First Name  Quiz 1  Quiz 2  \
Major Full Name
AC    Assel Baratova        20005605     Baratova      Assel      66      42
      Zhanar Nurgaliyeva    20006212  Nurgaliyeva     Zhanar      97     100
      Zhan Nurgaliyev       20006211   Nurgaliyev       Zhan      35      38
      Oxana Biryukova       20006009    Biryukova      Oxana      92      90
      Larisa Kim            20006130          Kim     Larisa      78      92

                          Quiz 3  Quiz 4  Quiz 5  Project 1  Project 2  \
Major Full Name
AC    Assel Baratova          85       0      66         80         72
      Zhanar Nurgaliyeva      83      79      76         96        100
      Zhan Nurgaliyev         61      95      45         71         85
      Oxana Biryukova         44      77      86         98        100
      Larisa Kim             100      76      76         79        100

                          Team Project  Midterm  Final Exam  quizaverage
Major Full Name
AC    Assel Baratova                95       49          53         51.8
      Zhanar Nurgaliyeva           100       78          84         87.0
      Zhan Nurgaliyev               71       52          53         54.8
      Oxana Biryukova              100       78          85         77.8
      Larisa Kim                    97       72          78         84.4

In [55]:
grade['Major'].unique()

array(['BDA', 'MG', 'OM', 'FN', 'AC', 'BS', 'MK', 'BA', 'IS'], dtype=object)

In [67]:
#combine groupby in a loop 
for group,frame in grade.groupby('Major'):
    avg = np.average(frame['Final Exam'])
    print(group + ' has an average in Final Exam of ' + str(avg))

AC has an average in Final Exam of 73.0
BA has an average in Final Exam of 71.0
BDA has an average in Final Exam of 72.8666666667
BS has an average in Final Exam of 76.6486486486
FN has an average in Final Exam of 72.3235294118
IS has an average in Final Exam of 66.0
MG has an average in Final Exam of 73.2380952381
MK has an average in Final Exam of 72.875
OM has an average in Final Exam of 71.9411764706

In [58]:
min(1,2,3)

1

In [76]:
tuple1 = (2,2,3)
tuple1[0] =4

2

In [4]:
grade.loc[:,['Quiz 1','Quiz 2','Quiz 3','Quiz 4','Quiz 5','Project 1','Project 2',
              'Team Project','Midterm','Final Exam']]

,Quiz 1,Quiz 2,Quiz 3,Quiz 4,Quiz 5,Project 1,Project 2,Team Project,Midterm,Final Exam
0,49,77,79,43,18,0,83,67,41,38
1,83,93,98,0,64,78,0,92,50,54
2,55,55,70,0,31,0,83,92,37,36
3,78,92,61,86,62,78,82,83,68,72
4,79,63,82,58,59,88,95,72,61,65
5,90,100,75,75,72,78,95,72,71,76
6,98,100,72,87,91,92,100,95,81,89
7,88,86,72,82,74,88,95,72,71,77
8,78,75,85,82,0,65,100,97,59,54
9,86,95,86,77,89,94,86,88,75,82
10,95,95,93,94,92,95,100,95,81,89
11,92,80,86,100,95,80,72,95,76,84
12,61,87,71,59,45,58,90,88,58,60
13,54,57,100,32,37,90,95,100,53,53
14,93,100,80,81,89,100,95,90,79,86
15,79,0,96,84,65,0,83,80,48,52
16,64,71,87,59,30,97,100,0,51,50
17,90,93,92,100,80,88,82,95,77,83
18,0,0,88,68,72,85,95,88,46,51
19,95,96,74,94,86,90,90,92,79,86
20,80,82,87,80,85,72,74,64,66,73
21,70,83,79,66,73,0,83,67,55,61
22,87,95,92,100,77,90,90,92,77,83
23,74,100,74,63,52,72,74,64,61,63
24,92,90,98,96,80,60,67,69,69,75
25,85,60,74,71,83,78,0,92,58,65
26,90,100,44,84,95,88,100,100,80,88
27,80,83,96,66,67,88,100,90,69,73
28,92,83,100,85,76,78,0,92,64,69
29,94,100,68,88,90,95,95,87,79,87
...,...,...,...,...,...,...,...,...,...,...
236,73,95,88,85,87,95,97,93,76,83
237,88,100,96,100,98,82,100,97,81,90
238,32,80,92,68,79,87,100,100,60,66
239,81,90,80,92,72,92,97,92,75,80
240,88,90,45,77,71,91,100,87,73,78
241,89,90,76,84,82,71,86,88,72,79
242,63,68,91,75,90,83,100,87,68,76
243,51,71,83,55,69,65,89,70,56,61
244,84,85,36,94,84,100,100,95,78,84
245,72,93,90,98,80,93,90,100,76,82
246,53,33,88,34,8,95,90,100,46,42
247,79,82,95,87,86,83,100,87,73,80
248,69,93,77,93,90,100,100,97,78,85
249,74,82,0,55,48,78,100,100,64,65
250,79,87,86,83,62,65,100,97,69,73
251,91,90,82,85,89,95,90,100,78,85
252,65,83,95,56,36,95,100,95,62,62
253,79,85,87,73,82,100,100,94,74,80
254,84,63,73,0,63,70,95,90,54,58
255,85,80,100,82,85,61,21,75,60,66
256,64,92,47,100,37,83,95,95,68,68
257,95,100,87,94,89,96,100,100,82,89
258,79,70,98,94,96,97,100,98,76,85
259,85,95,79,100,85,100,100,94,80,87
260,97,95,72,100,95,100,100,94,83,91
261,87,85,71,81,90,98,90,96,76,84
262,85,100,82,86,88,83,100,97,78,85
263,82,100,90,82,81,83,95,95,75,81
264,92,100,69,100,90,64,100,90,78,86
265,45,60,45,89,74,38,89,90,70,68